<div class="modal fade" id="gameingModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Battleships</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <span id="gamingModalText"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="exitGame btn btn-danger">EXIT GAME</button>
            </div>
        </div>
    </div>
</div>