<div class="modal fade" id="matchMakingModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Match Making</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                <p id="serverInfo"></p>
                <button id="abortMatchMake" type="button" class="btn btn-danger" data-dismiss="modal">Abourt Match Make</button>
                </div>
            </div>
            <div class="modal-footer">
                <p>You are waiting for matchmaking.</p>
            </div>
        </div>
    </div>
</div>