<div class="modal fade" id="modifyProfileModel">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modyfy Profile</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
<!-- The Modify Form -->
                        <form class="form-horizontal" ng-submit="submitModify()">
                            <div class="form-group row">
                                <label class="control-label col-sm-3" for="firstname">Firstname:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="modify.firstname" id="firstname" placeholder="{{user.firstname}}" name="firstname">
                                </div>
                                <label id="error" class="control-label col-sm-9 offset-sm-3 {{modify_errors.hide}}" for="firstname">{{modify_errors.firstname}}</label>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-3" for="lastname">Lastname:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="modify.lastname" id="lastname" placeholder="{{user.lastname}}" name="lastname">
                                </div>
                                <label id="error" class="control-label col-sm-9 offset-sm-3 {{modify_errors.hide}}" for="lastname">{{modify_errors.lastname}}</label>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-3" for="email">Email:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" ng-model="modify.email" id="email" placeholder="{{user.email}}" name="email">
                                </div>
                                <label id="error" class="control-label col-sm-9 offset-sm-3 {{modify_errors.hide}}" for="email">{{modify_errors.email}}</label>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-3" for="password">Comfirm Password:</label>
                                <div class="col-sm-9">          
                                    <input type="password" class="form-control" ng-model="modify.password" id="password" placeholder="Enter password" name="password">
                                </div>
                                <label id="error" class="control-label col-sm-9 offset-sm-3 {{modify_errors.hide}}" for="password">{{modify_errors.password}}</label>
                            </div>
                            <div class="form-group row">        
                                <div class="offset-sm-3 col-sm-9">
                                    <input type="submit" class="btn btn-primary" value="modify"></input>
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-{{modify_message.type}} alert-dismissible {{modify_message.hide}}">{{modify_message.text}}</div>
<!-- End Modify Form -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>