div#first_row {
    padding-top: 20px;
    
}

div#first_row table {
    width: 100%;
    text-align: center;
}

div#first_row div#buttons {
    text-align: center;
}

div#first_row div#second_grid {
    height: 90.93%;
}

label#error {
    color: red;
}

div.row {
    margin: 0px;
}

form div.form-group {
    margin-bottom: 16px;
}

div#first_row td {
    width: 50%;
}